<div class="container my-2">
    <div class="flex items-center justify-start">
        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 
        font-medium rounded-md text-sm px-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
        dark:focus:ring-blue-800 h-10 flex items-center justify-center" href="/admin/event">Back</a>
    </div>
    <div>
        <form action="/admin/event/<%= event.id %>/update" method="POST" enctype="multipart/form-data">
            <div class="w-50 m-auto">  
                <div class="pb-2">
                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                    <input type="text" name="title" class="form-control" id="title" required value="<%= event.title %>">
                </div>
                <div class="pb-2">
                    <label for="discount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount</label>
                    <input type="text" name="discount" class="form-control" id="discount" value="<%= event.discount %>" required>
                </div>
                <div class="d-flex pb-2 gap-2">
                    <img class="image-prd-preview" src="/uploads/<%= event.image %>" id="image_prd_preview">
                    <input type="file" name="image" id="image_prd" value="<%= event.image %>" required>
                </div>
                <div class="d-flex justify-start items-center pb-2 gap-2">
                    <div>
                        <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start date</label>
                        <input class="form-control" type="date" name="start_date" id="start_date" value="<%= event.formatted_start_date %>" required>
                    </div>
                    <span>~</span>
                    <div>
                        <label for="end_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End date</label>
                        <input class="form-control" type="date" name="end_date" id="end_date" value="<%= event.formatted_end_date %>" required>
                    </div>
                </div>
                <div class="pb-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea class="form-control" name="description" id="description"><%= event.description %></textarea>
                </div>
                <div class="flex justify-center items-center">
                    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 
                    font-medium rounded-md text-sm px-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                    dark:focus:ring-blue-800 h-10 flex items-center justify-center" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>  