<% if (message && message.length > 0) { %>
    <script>
        var message = "<%= message  %>";
        toastr.success(message, "Success", {
            positionClass: 'toast-top-right',
        });
    </script>
<% } %>
<div class="container mt-2">
    <div class="flex items-center justify-end">
        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 
        font-medium rounded-md text-sm px-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
        dark:focus:ring-blue-800 h-10 flex items-center justify-center" href="/admin/warehouse/create">Nhập kho</a>
    </div>
    <div class="container-table mx-2">
        <table class="table table-striped table-hover data-table" style="max-width: 1300px;">
            <thead style="background-color: #07497c; color: white;">
                <tr>
                    <th class="text-center" colspan="4">Quản lý kho</th>
                </tr>
                <tr>        
                    <th class="max-w-6 flex justify-center">Hình ảnh</th>
                    <th class="max-w-6">Sản phẩm</th>
                    <th class="text-center max-w-6">Số lượng</th>
                    <th class="text-center">Hoạt động</th>
                </tr>
            </thead>
            <tbody>
                <% warehouses.forEach(warehouse => { %>
                    <tr>
                        <td class="flex justify-center">
                            <div class="image-prd-admin">
                                <img src="<%= warehouse.product_id.image.replace('src/', '') %>" alt="Product" class="w-4/5 rounded object-cover" />
                            </div>
                        </td>
                        <td class="text-left">
                            <%= warehouse.product_id.name %></td>
                        </td>
                        <td class="text-center"><%= warehouse.quantity %></td>
                        <td>
                            <div class="flex justify-center items-center gap-2">
                                <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 
                                font-medium rounded-md text-sm px-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                                dark:focus:ring-blue-800 h-10 flex items-center justify-center" href="/admin/warehouse/show/<%= warehouse.id %>">Chi tiết</a>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>